* {
    margin: 0;
    padding: 0;
  }
  
html {
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
  }
  body{
    line-height: 1.6;
  }
  /* ===================LOGO====================== */
  .logo-header{
    position: relative;
    text-align: center;
  }
  .logo-image img{
      /* height: 480px; */
      width: 50rem;
      margin: 3rem;
  }
  /* ===================TOP HEADER==================== */
  .gray-gutter{
    position: relative;
    background-color: #E5E5E5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2% 0 10%;
  }
  .node-features{
    text-align: center;
    width: 100vw;
    padding: 5% 0;
    border: .2rem solid black;
    background-color: white;
  }
  .node-features .node-features-text{
    font-size: 3rem;
    font-weight: 900;
    font-family: Montserrat, sans-serif !important;
    color: #424D81;
    margin-bottom: 7%;
}
.node-features .node-features--btn{
  text-decoration: none;
  border: 1px solid #424D81;
  background-color: #424D81;
  color: white;
  padding: 1.5rem 2.4rem;
  font-size: 2rem;
  font-weight: 700;
  border-radius: 1rem;
}
.giveaway--btn{
  position: absolute;
  bottom: 7%;
  text-decoration: none;
  border: 1px solid #424D81;
  background-color: #424D81;
  color: white;
  padding: 1.5rem 6rem;
  font-size: 2rem;
  font-weight: 700;
  border-radius: 1rem;
  
}
.giveaway--btn:hover, .giveaway--btn:focus{
  background-color: black;
  color: white;
}
.node-features .node-features--btn:focus, .node-features .node-features--btn:hover{
  background-color: black;
  color: white;
}

/* ======================MIDDLE CONTENT========================= */
.content{
  text-align: center;
  max-width: 100vw;
  padding: 3% 5%;
  border: .2rem solid #424D81;
  background-color: white;
}
.content h1{
  font-size: 4rem;
  font-family: Montserrat, sans-serif !important;
  margin-bottom: 1rem;
  font-weight: 700;
  color: #424D81;
}
.content h1 span{
  color: #A35559;
}
.content p{
  max-width: 75rem;
  font-size: 2rem;
  font-weight: 100;
  word-wrap: break-word;
  position: relative;
  margin: auto;
  margin-bottom: 3rem;
  
}
.content a{
  border: .1rem solid #DB545A;
  background-color: #DB545A;
  text-decoration: none;
  font-size: 1.9rem;
  padding: 1rem 2.4rem;
  color: white;
}
.content a:hover, .content a::after{
  background-color: #ad3e44;
  text-decoration: none;
  color: white;
}
/* =======================FOOTER FREQUENTLY ASKED QUESTIONS================= */
.faq{
  text-align: center;
  /* padding: 0 10rem; */
}
.frequently-asked-questions--header{
  font-family: Montserrat, sans-serif !important;
  color: #424D81;
  font-size: 2.5rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.accordion-item {
  border: 0px solid rgba(0,0,0,.125) !important;
}
.accordion-btn{
  border: none;
  background-color: white;
  border-bottom: 1px solid #E5E5E5;
  padding: 2rem;
  width: 100%;
  font-size: 1.8rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: #8488A2;
  line-height: 1.6;
}

.accordion-btn::after, .accordion-btn:hover{
  color: #03b5d2;
  cursor: pointer;
}
.accordion-btn:active, .accordion-btn:focus{
  color: #03b5d2;
  border-bottom: 1px solid #03b5d2;
}
.accordion-body{
  font-size: 1.7rem;
  font-family: 'Open Sans', sans-serif;
  
}
.cryptocurrency-market {
  padding: 2rem 0;
}
.cryptocurrency-market a{
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.7rem;
  font-weight: 600;
  color: rgb(11, 11, 208);
}
.cryptocurrency-market span{
  font-family: 'Open Sans', sans-serif;
  font-size: 1.7rem;
  font-weight: 600;
}
.cryptocurrency-market a:hover, .cryptocurrency-market a::after{
  color: rgb(4, 4, 90);
}
/* ===============================Contact======================= */
.contact{
  padding: 7rem;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-around;
}
.contact .email h2{
  color: #424D81;
}
.contact-text{
  font-size:  1.6rem;
  font-weight: 500;
  font-family: 'Open Sans', sans-serif;
}
.email h2{
  font-size: 4rem;
  font-weight: 700;
}
.social-icons ul{
  display: flex;
  list-style: none;
  
}
.social-icons-list li a{
  text-decoration: none;
  color: black;
}
.fa-brands{
  font-size: 6rem;
  margin-right: 2rem;  
}
.telegram{
  width: 10rem;
  margin-left: -2rem;
}
.last-text{
  color: white;
  background-color: #424D81;
  text-align: center;
  padding: 5rem;
}
.last-text p{
  font-size: 1.5rem;
}
/* 320px 320/16=20 em              nb 16px is the default font size we are dividing it by the media query size to convert to ems
480px 480/16 = 30em
600px 600/16 = 37.5em
768px = 48em
900px = 56.25em
1024px = 64em
1200px  = 75em
/* 1800px 112.5em */
@media screen and (max-width: 75em) {
  html {
      font-size: 60%;
  }

}
@media screen and (max-width: 64em) {
  
  .giveaway--btn{
    bottom: 6%;
  }
}
@media screen and (max-width: 56.25em) {
  .giveaway--btn{
    bottom: 4%;
  }
}
@media screen and (max-width: 48em) {
  html {
      font-size: 52%;
  }
  .logo-image img{
    max-width: 80vw;
    width: 40rem;
    margin-top: 7rem;
     margin-bottom: 1rem;
  }
  .gray-gutter{
    padding: 5% 0 12%;
  }
  .contact{
    display: grid;
    grid-template-columns: auto;
    justify-content: center;

  }
  .email h2{
    text-align: center;
  }
  .giveaway--btn{
      bottom: 5%;
    }
    .social-icons{
      margin: auto;
    }
  }
@media screen and (max-width: 37.5em) {
  /* html {
      font-size: 30%;
  }
 
  .content p{
    font-size: 3rem;
  }
  .accordion-btn{
    font-size: 3rem;
  }
  .accordion-body{
  font-size: 2.8rem;
  
} */
.gray-gutter{
  padding: 5% 0 15%;
}
}
@media screen and (max-width: 30em) {
  html{
    font-size: 40%;
  }
  .gray-gutter{
    padding: 5% 0 17%;
  }
  .node-features{
    padding: 10% 10%;
    border: .2rem solid black;
    background-color: white;
  }
  .giveaway--btn{
    bottom: 4%;
    font-size: 2.5rem;
    
  }
  .content{
    /* max-width: 90%; */
  }
  .content h1{
    font-size: 3.5rem;
    font-family: Montserrat, sans-serif !important;
    margin-bottom: 1rem;
    max-width: 90%;
  }
  .content p{
    max-width: 50rem;
    font-size: 2rem;
    font-weight: 300;
    word-wrap: break-word;
    position: relative;
    margin: auto;
    margin-bottom: 3rem;
    
  }
  .node-features-text{
    font-size: 4rem !important;
    padding: 2rem 1rem;
  }
  .node-features--btn{
    font-size: 3rem !important;
  }
  .contact-text{
    font-size: 1.8rem;
  }  
  .faq{
    text-align: center;
  }
  .frequently-asked-questions--header{
    font-size: 4rem;
  }
  .accordion-btn{
    font-size: 2.8rem;
    padding: 1rem 3rem;
    
  }
  
  .accordion-body{
    padding: 0 19%;
    font-size: 2rem;
    font-family: 'Open Sans', sans-serif;
    
  }  .cryptocurrency-market{
    padding: 7rem 0;
  }
  .cryptocurrency-market a{
    font-size: 2.3rem;
  }
  .cryptocurrency-market span{
    font-size: 2.3rem;
  }
  .contact-text{
    font-weight: 600;
    color: black;
    padding: 2rem 0;
  }
  .last-text p{
    font-size: 2rem;
  }
}
@media screen and (max-width: 20em) {
  .giveaway--btn{
    bottom: 2%;
    /* color: #292ba7; */
  }
  .contact-text{
    text-align: center;
  }

}
@media screen and (min-width: 112.5em) {}