* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
}

body {
    line-height: 1.6;
}

.wallet-heading {
    border: 2px solid #424D81;
    border-radius: 1em;
    text-align: center;
    margin: 0 11rem;
}

.wallet-heading-text {
    display: inline-block;
    border: 2px solid #404040;
    padding: 2rem 15%;
    background-color: rgb(246, 247, 249);
    margin: 3rem;
}

.wallet-heading-text h1 {
    color: rgb(66, 77, 129);
    font-family: Montserrat, sans-serif;
    font-size: 3.5rem;
    font-weight: 700;
}

.wallet-heading-subtext {
    padding: 2rem;
}

.wallet-heading-subtext p {
    font-family: Montserrat, sans-serif;
    font-size: 2rem;
    font-weight: 600;
    color: rgb(66, 77, 129);
}

.subtext-3 {
    font-weight: 300 !important;
}

/* ============================WALLET SELECTION======================================= */
.wallets {}

.wallet-set-1 {
    /* display: grid; */
    /* grid-template-columns: auto auto auto; */
    /* float: left; */
    margin: 5rem 4rem;
    text-align: center;
}

.wallet-content {
   
    border: 2px solid #424D81;
    border-radius: 2rem;
    display: inline-block;
    padding: 2rem 3.5rem;
    width: 32rem;
    text-align: center;
    margin-left: 3rem;
    margin-bottom: 3rem;
}

.wallet-logo {
    height: 15.6rem;
    width: 15rem;
    /* margin: 14px auto 0; */
}

.wallet-title {
    font-family: Montserrat, sans-serif;
    font-size: 2rem;
    font-weight: 700;
    color: rgb(66, 77, 129);
}

.wallet-synchronize-button {
    padding: .5rem 4.5rem;
    border-radius: 1rem;
    background-color: #424D81;
    text-decoration: none;
    color: white;
    font-size: 1.6rem;
    text-transform: uppercase;
}

.come {}