* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
}

body {
    line-height: 1.6;
}

.wallet-heading {
    border: 2px solid #424D81;
    border-radius: 1em;
    text-align: center;
    margin: 0 11rem;
}

.wallet-heading-text {
    display: inline-block;
    border: 2px solid #404040;
    padding: 2rem 15%;
    background-color: rgb(246, 247, 249);
    margin: 3rem;
}

.wallet-heading-text h1 {
    color: rgb(66, 77, 129);
    font-family: Montserrat, sans-serif;
    font-size: 3.5rem;
    font-weight: 700;
}

.wallet-heading-subtext {
    padding: 2rem;
}

.wallet-heading-subtext p {
    font-family: Montserrat, sans-serif;
    font-size: 2rem;
    font-weight: 600;
    color: rgb(66, 77, 129);
}

.subtext-3 {
    font-weight: 300 !important;
}

/* ============================WALLET SELECTION======================================= */
/* .container{
    text-align: center;
    width: 120rem;
}
 */
.wallet-set-1 {
    margin: 8rem 15rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    box-sizing: border-box;
    gap: 2.5rem;
    justify-content: center;

}

.wallet-content {
    /* box-sizing: border-box; */
    text-align: center;
    border: 2px solid #424D81;
    border-radius: 2rem;
    padding: 2rem 0;
}

.wallet-logo {
    height: 15rem;
    width: 15.5rem;
    /* margin: 14px auto 0; */
}

.wallet-title {
    font-family: Montserrat, sans-serif;
    font-size: 2rem;
    font-weight: 700;
    color: rgb(66, 77, 129);
    margin: 2rem 0;
}

.wallet-synchronize-button {
    padding: 1rem 4.5rem;
    border-radius: 1rem;
    background-color: #424D81;
    text-decoration: none;
    color: white;
    font-size: 1.6rem;
    text-transform: uppercase;
    cursor: pointer;
}

.wallet-synchronize-button:active, .wallet-synchronize-button:hover, .wallet-synchronize-button:focus {
    background-color: #259bca;
    color: white;
}

.cryptocurrency-market {
    margin-left: 10rem;
}

.contact {
    margin-left: -10rem;
}

/* 320px 320/16=20 em              nb 16px is the default font size we are dividing it by the media query size to convert to ems
480px 480/16 = 30em
600px 600/16 = 37.5em
768px = 48em
900px = 56.25em
1024px = 64em
1200px  = 75em
/* 1800px 112.5em */
@media screen and (max-width: 75em) {
    html {
        font-size: 60%;
    }

}

@media screen and (max-width: 64em) {
    .wallet-set-1 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 56.25em) {
    html {
        font-size: 52%;
    }
}

@media screen and (max-width: 48em) {
    html {
        font-size: 52%;
    }

    .contact {
        margin-left: 0;
    }

    /* .wallets{
        padding: 0 20%;
    } */

    .logo-image img {
        width: 60rem;
        /* padding: 5rem 0; */
        margin-top: 7rem;
        margin-bottom: 6rem;

    }
    .wallets{
        max-width: 95vw;
    }

}

@media screen and (max-width: 37.5em) {
    html {
        font-size: 30%;
    }

    .wallet-content {
        padding: 2rem 4rem;
        margin-top: 7rem;
        margin-left: 5rem;
    }

    .wallet-synchronize-button {
        padding: 1rem 3.5rem;
    }

    .wallet-heading-subtext p {
        font-size: 3rem;
    }

    .wallet-title {
        font-size: 2.5rem;
    }

    .wallet-synchronize-button {
        font-size: 2.3rem;
    }

    .last-text p {
        font-size: 3rem;
    }
}

@media screen and (max-width: 25em) {
    html {
        font-size: 22%;
    }

    .wallet-synchronize-button {
        padding: 1rem 3.5rem;
    }

    .wallet-heading-subtext p {
        font-size: 3rem;
    }

    .wallet-title {
        font-size: 3.2rem;
    }

    .wallet-synchronize-button {
        font-size: 3rem;
    }
}

@media screen and (max-width: 20em) {
    html {
        font-size: 15%;
    }
}